<!DOCTYPE html>
<html lang="en">
  <!-- loading static for css/js/images ... -->
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KlinTech</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="loader"></div>

    <!-- rendering navbar -->
    {% include 'navbar.html' %}

    <main>
      <section id="home" class="hero">
        <div class="hero-content">
          <h1>Hi, I'm <span class="highlight">Kelvin Chinagorom</span></h1>
          <p>Frontend Developer | Problem Solver | Tech Enthusiast</p>
          <div class="cta-buttons">
            <a href="#projects" class="cta-btn">View My Work</a>
            <!-- Your cv location must be inside static pdf folder-->
            <!-- copy and paste yout cv.pdf inside the static pdf folder -->
            <!-- change the name to klintech-resume.pdf -->
            <a
              href="{% static 'pdf/klintech-resume.pdf' %}"
              download
              class="cta-btn secondary"
              >Download CV</a
            >
          </div>
        </div>
      </section>

      <section id="about" class="about">
        <!-- renders about page -->
        {% include 'about.html' %}
      </section>

      <section id="projects" class="projects">
        <!-- renders project page -->
        {% include 'project.html' %}
      </section>

      <section id="skills" class="skills">
        <!-- renders skills page -->
        {% include 'skills.html' %}
      </section>

      <section id="contact" class="contact">
        <!-- renders form -->
        {% include 'core/forms/form.html' %}
      </section>
    </main>

    <!-- renders footer -->
    {% include 'footer.html' %}

    <div class="scroll-to-top">
      <i class="fas fa-arrow-up"></i>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
