{% load static %}

{% block content %}

<div class="container">
  <h2 class="section-title">Featured Projects</h2>
  <div class="project-grid">
    <div class="project-card">
      <div class="project-image">
        <img src="{% static 'images/healthhub.png' %}" alt="Project 1">
      </div>
      <div class="project-info">
        <h3>Booking Health Hospital</h3>
        <p>A full-featured online Hospital that enables user to book for a section.</p>
        <div class="project-tags">
          <span>HTML</span>
          <span>CSS</span>
          <span>JavaScript</span>
        </div>
        <div class="project-links">
          <a href="https://healthcare-medical-ceenter.vercel.app/index.html" target="_blank">Live
            Demo</a>
          <a href="https://github.com/klintech/Healthcare-Medical-Ceenter" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-image">
        <img src="{% static 'images/Neurolink.png' %}" alt="Project 2">
      </div>
      <div class="project-info">
        <h3>Neurolink Ai</h3>
        <p>Advancing human potential through cutting-edge Neurotechnology and AI.</p>
        <div class="project-tags">
          <span>React</span>
          <span>Next.js</span>
        </div>
        <div class="project-links">
          <a href="https://neuro-link-ai.vercel.app/" target="_blank">Live Demo</a>
          <a href="https://github.com/klintech/NeuroLink-AI" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-image">
        <img src="{% static 'images/foodhub.png' %}" alt="Project 3">
      </div>
      <div class="project-info">
        <h3>Food Hub For Restaurant</h3>
        <p>This Project helps users to order food from their home and been able to Track their
          Orders.</p>
        <div class="project-tags">
          <span>HTML</span>
          <span>Animated CSS</span>
          <span>JavaScript</span>
        </div>
        <div class="project-links">
          <a href="https://food-hub-peach.vercel.app/" target="_blank">Live Demo</a>
          <a href="https://github.com/klintech/FoodHub" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}